<div id="formWrapper" class="container">
  <form [formGroup]="newListForm" (ngSubmit)="addToStage($event)">
    <div class="row">
      <div class="col-sm-8 col-xs-12 margin-bot">
        <div class="input-group">
          <span class="input-group-addon">活动标题</span>
          <input type="text" class="form-control" formControlName="listTitle">
        </div>
        <div *ngIf="formErrors?.listTitle" class="alert alert-danger">
          {{ formErrors?.listTitle }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 margin-bot">
        <div class="input-group">
          <h5 class="input-group-addon">活动简介</h5>
          <textarea id="descriptionText" class="form-control" formControlName="listDescription"> </textarea>
        </div>
        <div *ngIf="formErrors?.listDescription" class="alert alert-danger">
          {{ formErrors?.listDescription }}
        </div>
      </div>
    </div>
    <hr/>

    <button id="createButton" type="button" class="btn btn-success" (click)="commit()">创建</button>
  </form>
</div>

