#wrapper {
  position: relative;
  display: block;
  text-align: center;
}

#menuContainer {
  display: inline-block;
  margin-top: 60px;
  font-family:黑体;
}
.alert {
  position: absolute;
  width: 100%;
  text-align: center;
}
