  <div id="menuContainer" class="container col-sm-6 col-sm-offset-3">
    <div class="well center-block">
      <div class="input-group input-group-lg">
        <span class="input-group-addon" id="sizing-addon1">ID</span>
        <input #listIdInput type="text" class="form-control" placeholder="投票序号" aria-describedby="sizing-addon1">
        <span class="input-group-btn">
          <button type="button" class="btn btn-success" (click)="viewList(listIdInput.value)">查看</button>
        </span>
      </div>
      <hr>
      <button type="button" class="btn btn-info btn-lg btn-block" (click)="createVote()">创建投票</button>
    </div>
  </div>

