#voteInfoContainer {
  margin-top: 30px;
  margin-bottom: 0;
  text-align: center;
  background-color: #c97558;
}

#voteInfoContainer .panel {
  display: inline-block;
  text-align: left;
  width: 270px;
  padding: 5px;
  box-shadow: 0 3px 10px rgba(0,0,0,0.5);
}

h3 {
  font-family: 黑体;
  font-size:17px;
  font-weight: bold;
  color: #FFFFFF;
}

.description-body {
  font-family: 黑体;
  text-align: left;
  font-size:14px;
}
